<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Enter your username to reset password</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="input-group mb-3">
          <input
            formControlName="username"
            type="username"
            class="form-control"
            placeholder="Username"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <app-button
            [type]="'submit'"
            [block]="true"
            [text]="'Reset Password'"
            [loading]="false"
          ></app-button>
        </div>
      </form>

      <div *ngIf="showNewPassword">
        <p class="login-box-msg">
          Please remember and login with the new password.
        </p>
        <p class="login-box-msg">
          New Password:<b>{{ newPassword }}</b>
        </p>
        <p class="mb-1">
          <app-button
            [color]="'success'"
            [routerLink]="['/login']"
            [block]="true"
            [text]="'Login'"
            [loading]="false"
          ></app-button>
        </p>
      </div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
